:root {
  height: 100%;
  width: 100%;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#phaser-example {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

#phaser-example canvas {
  height: 100% !important;
  width: 100% !important;
}
